<form method="post" action="/api/subscribe" class="card" aria-label="Subscribe form">
  <label for="email">Email</label>
  <br />
  <input id="email" name="email" type="email" required autocomplete="email" />
  <input type="text" name="website" tabindex="-1" autocomplete="off" class="hp-field" />
  <button type="submit">Subscribe</button>
</form>
